.fondo-siesta{
  --background:#c97a8a;
}

.contenedor{
  text-align:center;
  margin-top:120px;
}

.titulo{
  color:#b12d5a;
  font-size:32px;
  font-weight:bold;
}

.tiempo{
  color:white;
  font-size:40px;
  margin-top:20px;
}

.fresa img{
  width:160px;
  margin-top:40px;
}

.boton-despertar{
  margin-top:40px;
  --background:white;
  --color:#b12d5a;
  border-radius:30px;
}